* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

ul li {
    list-style: none;
}

/* -------------------------------------------- */

:root {
    background-color: #EFEFEF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    --main-color: #313131;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.calculators {}

.container {
    max-width: 1920px;
    padding: 20px;
    margin: 0 auto;
}

.calculators__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px 20px;
}

/* --------------------------------------------- */

.heading {
    text-align: center;
    margin-bottom: 25px;
}

.heading__title {
    font-size: 1.5625em;
    font-weight: 700;
    margin-bottom: 10px;
}

.heading__subtitle {
    color: #5a5a5a;
    font-size: 0.875em;
    font-weight: 400;
}

.input {
    display: block;
    min-height: 33px;
    margin-bottom: 25px;
    background-color: #F3F3F3;
    border-radius: 5px;
    text-indent: 13px;
}

.input:focus {
    outline: 1px solid #c5c5c5;
}

.input::placeholder {
    color: #000;
    font-size: 0.875m;
    font-weight: 400;
    opacity: 0.4;
}

.button {
    cursor: pointer;
    width: 150px;
    height: 35px;
    border-radius: 49px;
    padding: 11px 36px;
    border-radius: 49px;
    border-radius: 49px;
    background: linear-gradient(93deg, #D82828 0.83%, #cd8a32 101.33%);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .3);
    color: #FFF;
    font-size: 0.875em;
    display: inline-block;
    text-align: center;
    background-size: 200% 100%;
    transition: background-position .4s ease-in-out;
}

.button:hover {
    background-position: 90% 0;
}

/* ------------------------------------------------ */

.squareCalculator {
    width: 445px;
    height: 217px;
    background-color: #fff;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height .2s ease;
}


.squareCalculator__input {
    min-width: 395px;
}

.squareCalculator__answer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 395px;
    margin-top: 25px;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease;
}


.squareCalculator__answer-block--visible {
    visibility: hidden;
    opacity: 0;
}

.squareCalculator__answer-text {
    font-size: 0.875em;
    font-style: normal;
    font-weight: 500;
}

.squareCalculator__answer-sArea-wrapper, .squareCalculator__answer-pArea-wrapper {
    width: 160px;
    height: 33px;
    border-radius: 5px;
    background: #F3F3F3;
    padding: 10px 13px 8px;
}

.squareCalculator__answer-sArea, .squareCalculator__answer-pArea {
    font-size: 0.875em;
    font-weight: 500;
}

/* -------------------------------------------------------------------- */

.rectangleCalculator {
    width: 445px;
    height: 217px;
    background-color: #fff;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height .2s ease;
}

.rectangleCalculator__input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0 15px;
}

.rectangleCalculator__input-len, .rectangleCalculator__input-width {
    width: 190px;
}

.rectangleCalculator__answer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 395px;
    margin-top: 25px;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease;
}

.rectangleCalculator__answer-block--visible {
    visibility: hidden;
    opacity: 0;

}

.rectangleCalculator__answer-text {
    font-size: 0.875em;
    font-weight: 500;
}

.rectangleCalculator__answer-sArea-wrapper, .rectangleCalculator__answer-pArea-wrapper {
    width: 160px;
    height: 33px;
    border-radius: 5px;
    background: #F3F3F3;
    padding: 10px 13px 8px;
}

.rectangleCalculator__answer-sArea, .rectangleCalculator__answer-pArea {
    font-size: 0.875em;
    font-weight: 500;
}

/* -------------------------------------------------------- */

.circleCalculator {
    width: 445px;
    height: 217px;
    background-color: #fff;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height .2s ease;
}

.circleCalculator__input {
    width: 395px;
}

.circleCalculator__answer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 395px;
    margin-top: 25px;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease;
}

.circleCalculator__answer-block--visible {
    visibility: hidden;
    opacity: 0;
}

.circleCalculator__answer-text {
    font-size: 0.875em;
    font-weight: 500;
}

.circleCalculator__answer-sArea-wrapper, .circleCalculator__answer-cArea-wrapper {
    width: 160px;
    height: 33px;
    border-radius: 5px;
    background: #F3F3F3;
    padding: 10px 13px 8px;
}

.circleCalculator__answer-sArea, .circleCalculator__answer-cArea {
    font-size: 0.875em;
    font-weight: 500;
}

/* --------------------------------------------------------- */


.triangleCalculator {
    width: 445px;
    height: 217px;
    background-color: #fff;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height .2s ease;
}

.triangleCalculator__input-wrapper {
    display: flex;
    gap: 0 14px;
}

.triangleCalculator__input-a, .triangleCalculator__input-b, .triangleCalculator__input-c {
    width: 122px;
}

.triangleCalculator__answer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 395px;
    margin-top: 25px;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease;
}
.triangleCalculator__answer-block--visible {
    visibility: hidden;
    opacity: 0;
}
.triangleCalculator__answer-text {
    font-size: 0.875em;
    font-weight: 500;
}
.triangleCalculator__answer-sArea-wrapper {
    width: 344px;
    height: 33px;
    border-radius: 5px;
    background: #F3F3F3;
    padding: 10px 13px 8px;
}
.triangleCalculator__answer-sArea {
    font-size: 0.875em;
    font-weight: 500;
}
