* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Inter', sans-serif;
    background-color: #ebe8e6;
}

.wrapper {
    min-height: 100%;
    max-width: 1600px;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 500px;
    height: 40px;
    border-radius: 7px;
    padding: 0 10px;
    margin-bottom: 15px;
}

.input:focus {
    outline: 1px solid rgb(196, 113, 46);
}

.tag__cell {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 6px;
}

.tag__cell:first-child{
    height: 50px;
    max-width: 100px;
}
.tag__cell:last-child {
    height: 50px;
    max-width: 800px;
}

